# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env
.venv
env/

# Data and Models
construction_dataset/
runs/
*.pt
!model/best.pt
*.zip

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
